/*Styling*/
/*body {
	background: #271F30;
}

.jumbotron {
	background: #6C5A49;	
}*/

/*Usability*/

.top-buffer {
	padding-top: 5%;
}

.border {
	border: 1px solid black;
	padding-top: 2%;
	margin-bottom: 2%;
}